.content-body {background: url("../images/admin-login-bg.jpg")no-repeat ;}
/****公共标题----开始****/
.common-title{
    /*width: 480px*/;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 40px;/*c添加*/
    background-position: 0 10px;
    background-repeat: no-repeat;
    text-align: center;
    line-height: 60px;
    border-bottom: 1px solid #ccc;
}
.common-title h1, .common-title p{
    /*float: left;*/
    text-align: center;
    color: #000;
    display: inline-block;

}
.common-title h1{
    font-size: 20px;
    font-weight: normal;

}


.system-mangentage {}
.index-pro{
    padding:10px 0;

}
.index-pro dl{
    float:left;
    width:289px;
    height: 153px;
    padding:5px;
    text-align:center;


}
.index-pro dl a{
    display:block;
    width: 120px;
    height: 110px;
    cursor: default;
    margin: 0 auto;

}
.index-pro dt{
    width:100px;
    height:100px;
    -moz-border-radius: 20px 20px 20px 20px;      /* Gecko browsers */
    -webkit-border-radius: 20px 20px 20px 20px;   /* Webkit browsers */
    border-radius:20px 20px 20px 20px;            /* W3C syntax */
    background:#ed6c2c;
    text-align:center;
    border: 5px solid #ccc;
    margin:0 auto;
    cursor: pointer;
    position: relative;
}
.index-pro dt:hover::after{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    position: absolute;
    left: 0;
    top: 0;
    -moz-border-radius: 20px 20px 20px 20px;      /* Gecko browsers */
    -webkit-border-radius: 20px 20px 20px 20px;   /* Webkit browsers */
    border-radius:20px 20px 20px 20px;            /* W3C syntax */
}

.index-pro .dt1 {  background: url("../images/tubiao.jpg") no-repeat;
    background-position: -53px -200px;}
.index-pro .dt2 {  background: url("../images/tubiao.jpg") no-repeat;
    background-position: -202px -54px;}
.index-pro .dt3 {  background: url("../images/tubiao.jpg") no-repeat;
    background-position: -349px -200px;}
.index-pro .dt4 {  background: url("../images/tubiao.jpg") no-repeat;
    background-position:-55px -498px;}
.index-pro .dt5 {  background: url("../images/tubiao.jpg") no-repeat;
    background-position: -199px -494px;}
.index-pro .dt6 {  background: url("../images/tubiao.jpg") no-repeat;
    background-position: -53px -54px;}
.index-pro .dt7 {  background: url("../images/tubiao.jpg") no-repeat;
    background-position: -351px -498px;}
.index-pro .dt8 {  background: url("../images/tubiao.jpg") no-repeat;
    background-position:-351px -54px;}
.index-pro .dt9 {  background: url("../images/tubiao.jpg") no-repeat;
    background-position: -500px -54px;}
.index-pro .dt10 {  background: url("../images/tubiao.jpg") no-repeat;
    background-position: -206px -353px;}
.index-pro .dt11 {  background: url("../images/tubiao.jpg") no-repeat;
    background-position: -498px -498px;}
.index-pro .dt12 {  background: url("../images/tubiao.jpg") no-repeat;
    background-position: -498px -200px;}
.index-pro dd h3{
    padding:7px 0;
    color:#fff;
    font-size:14px;
    cursor: pointer;
}

.index-pro dd p{
    font-size:16px;
    color:#999;
}
.index-pro dl a:hover{
    color:#000;
}
